.heroSection {
  background-color: black;
  color: var(--input-border-color);
  padding: 9rem 1.5rem 4rem;
  height: 100vh;
  background-image: url('../../assets//HomeAssets/resize.jpeg');
  opacity: 100%;
  background-size: cover;
  filter: brightness(10rem);
}
.heroSection h2 {
  font-family: "Teko", sans-serif;
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 3rem;
}
.heroSection h2 span {
  font-family: "Teko", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
.heroSection h3 {
  font-family: "Teko", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  text-align: left;
  background-position: initial;
  background-size: cover;
}
.heroSection p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  text-align: justify;
}
.scheduleBtn {
  max-width: 52rem;
  max-height: 3.5rem;
  padding: 0.5rem 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 1.25rem;
  color: var(--input-border-color);
  background-color: transparent;
  border-radius: 50px;
  border: 3px solid var(--input-border-color);
  margin-top: 1.5rem;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: var(--border-color);
  border-radius: 50%;
}
@media (min-width: 540px) and (max-width: 767px) {
  .heroSection {
    background-size: cover;
    padding: 14rem 4rem 8rem 2rem;
    height: auto;
    background-image: url('../../assets//HomeAssets/image1.png');
    opacity: 80%;
    height: 100vh;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .heroSection {
    background-size: cover;
    padding: 14rem 8rem 8rem 4rem;
    height: auto;
    background-image: url('../../assets//HomeAssets/image1.png');
    opacity: 80%;
  }
  .heroSection h2 {
    font-size: 3.75rem;
    line-height: 4rem;
  }
  .heroSection h2 span {
    font-size: 4.25rem;
  }
  .heroSection h3 {
    font-size: 2.5rem;
    line-height: 3.25rem;
  }
  .heroSection p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .scheduleBtn {
    margin-top: 3rem;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem;
    max-height: 4.5rem;
  }
}
@media (min-width: 1024px) {
  .heroSection {
    background-size: cover;
    padding: 13rem 20rem 10rem 8rem;
    height: auto;
    background-image: url('../../assets//HomeAssets/image1.png');
    opacity: 80%;
  }
  .heroSection h2 {
    font-size: 3rem;
    line-height: 5rem;
  }
  .heroSection h2 span {
    font-size: 6rem;
  }
  .heroSection h3 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  .heroSection p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .scheduleBtn {
    margin-top: 4rem;
    font-size: 1.5rem;
    line-height: 2rem;
    max-height: 4.5rem;
  }
}
