.keyFeatures{
    padding: 3rem 0;
}
.keyFeatures h2{
    font-family: "Teko",sans-serif;
font-size: 3rem;
font-weight: 700;
line-height: 4rem;
text-align: center;
}
.featureWrapper{
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    gap: 3rem;
    padding: 2rem;
    scrollbar-width: none;
}
/* feature card styling */
.featureCard{
    min-width: 307px;
    height: 333px;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--linear-background-color);
    border-radius: 30px;
    border: 3px solid var(--linear-text-color) ;
}
.featureCard h3{
font-size: 1rem;
font-weight: 500;
line-height: 1.25rem;
text-align: left;
color: var(--input-border-color);
align-self: flex-start;
}
.featureCard button{
font-size: 1rem;
font-weight: 300;
align-self: flex-end;
color: var(--input-border-color);
background-color: transparent;
width:149px;
border-radius: 50px;
border: 2px solid var(--border-color);
padding: .5rem 2.1rem;
}

  
 
@media (min-width: 768px) {
    .keyFeatures h2{
        font-family: "Teko",sans-serif;
    font-size: 5rem;
    font-weight: 700;
    line-height: 7rem;
    text-align: center;
    }
    .featureCard h3{
      font-size: 1.25rem;
      line-height: 1.5rem;
      }
    
}