.keyFeatures{
    padding: 3rem 0;
}
.keyFeatures h2{
    font-family: "Teko",sans-serif;
font-size: 3rem;
font-weight: 700;
line-height: 4rem;
text-align: center;
}
.featureWrapper{
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    gap: 1rem;
}
/* feature card styling */
.featureCard{
    width: 307px;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--linear-background-color);
    border-image-source: var(--linear-border-color);
    border-radius: 30px;
    border: 3px solid;
}
.featureCard h3{
font-size: 1.25rem;
font-weight: 500;
line-height: 1.5rem;
text-align: left;
color: var(--input-border-color);
align-self: flex-start;
}
.featureCard button{
font-size: 1rem;
font-weight: 300;

align-self: flex-end;
color: var(--input-border-color);
background-color: transparent;
max-width:149px;
min-height:25px;
border-radius: 50px;
border: 2px solid var(--border-color);
padding: .5rem 2.1rem;
scrollbar-width: 0; 
scrollbar-color:transparent transparent; 
}
/* Webkit browsers */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color:transparent;
   
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
    
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color:transparent;
  }
  
 
@media (min-width: 768px) and (max-width:992px) {
    .keyFeatures h2{
        font-family: "Teko",sans-serif;
    font-size: 5rem;
    font-weight: 700;
    line-height: 7rem;
    text-align: center;
    }
    
}