*{
  margin: 0;
 padding: 0;
 font-family: "Ubuntu", sans-serif;
 box-sizing: border-box;
}
:root {
  --background-color: rgba(0, 0, 0, 1);
  --border-color: rgba(255, 255, 0, 1);
  --input-border-color: rgba(255, 255, 255, 1);
  --secondary-border-color: rgba(217, 217, 217, 0);
  --linear-gradient-color: linear-gradient(187.74deg, #800080 7.1%, #000000 92.9%);
 --linear-background-color:linear-gradient(179.6deg, #800080 0.34%, #000000 99.66%);
 --linear-border-color: linear-gradient(319.83deg, #800080 0.16%, #800080 44.52%, #000000 99.84%);
 --linear-text-color: rgba(128, 0, 128, 1);


 

}

